<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="dialog modal-dialog modal-dialog-centered">
        <div class="isi modal-content">
            <div class="header">
                <img src="/images/modal_image1.png" alt="">
            </div>
            <div class="body">
                <div class="txt1">Menghapus Data Mobil</div>
                <div class="txt2">Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</div>
            </div>
            <div class="footer">
                <button type="button" class="btn satu" data-bs-dismiss="modal" id="liveToastBtn">Ya</button>
                <button type="button" class="btn dua " data-bs-dismiss="modal">Tidak</button>
            </div>
        </div>
    </div>
</div>