.login {
    height: 100vh;
}

/* SIDEBAR START */

.login .sidebar {
    width: 718px;
    height: 100vh;

}

.login .sidebar .box {
    width: 375px;

}

.login .sidebar .logo {
    width: 100px;
    height: 34px;
    background-color: #CFD4ED;
}

.login .sidebar .text {
    margin-top: 30px;
}

.login .sidebar .text p {
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;

}

.login .sidebar .form label {
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.login .sidebar #p1 {
    margin-top: 10px;
}

.login .sidebar button {
    margin-top: 32px;
    width: 100%;
    height: 36px;
    background: #0D28A6;
}

.login .sidebar button p {
    color: white;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
}

.login .sidebar .alertss {
    width: 100%;
    height: 60px;
    background: #D00C1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 25px;
}

.login .sidebar .alertss span {
    color: #D00C1A;
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

/* SIDEBAR END */

/* IMAGE START */

.login .gambar {
    background-color: #2344F0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.login img {
    height: 100%;
    width: 100%;
}

/* IMAGE END */