/* NAVBAR START */

.navbar {
    height: 9.3vh;
    width: 100%;
    background: #FEFEFE;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    box-shadow: 7px 0px 10px #888888;
}


.navbar .menu2 img {
    cursor: pointer;
}

.navbar .menu3 {
    display: flex;
    align-items: center;
}

.navbar .menu3 .search {
    width: 245px;
}

.navbar .menu3 .search button {
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

.navbar .menu3 .profile {
    display: flex;
    margin-left: 24px;
    justify-content: center;
    align-items: center;
    width: 143px;
    justify-content: space-between;
}

.navbar .menu3 .profile a {
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    padding: 0px;
}

/* NAVBAR END */

/* CONTEN START */

.content {
    height: 90.7vh;
    width: 100%;
    background: #F4F5F7;
    overflow: auto;
}

/* CONTEN END */